html
    head
        title #{title}
    body
        h1 My Pets
        a(href='/update-cobj') Add to this table
        table
            thead
                tr
                    th Name
                    th Description/Bio
                    th Pet Age
            tbody
                each pet in data
                    tr
                        td #{pet.properties.name}
                        td #{pet.properties.descriptionbio}
                        td #{pet.properties.pet_age}